/*
North Side Youg Soccer League
*/
.logo img {
    width: 80%;
}

.logo {
    display: inline-block;
    width: 20%;
}

.main_heading {
    display: inline-block;
    width: 79%;
}

.body_text {
    width:60%;
    display:inline-block;
    padding-left: 30px;
    
        
}

.other_image {
    display: inline-block;
    width: 20%;

    
}

.other_image img {
/*    width: 80%;*/
}

.navigation li {
    display: inline;
}
        